[user]
	email = hello@chinleung.com
	name = Chin Leung
[core]
	excludesfile = /Users/chin/workspace/.gitignore
	editor = /usr/local/bin/nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	clean-branches = !git branch | egrep -v \"(master|\\*)\" | xargs git branch -D
