<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'array_indentation' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
        'blank_line_after_opening_tag' => true,
        'concat_space' => true,
        'is_null' => [
            'use_yoda_style' => false,
        ],
        'linebreak_after_opening_tag' => true,
        'lowercase_cast' => true,
        'no_short_bool_cast' => true,
        'no_short_echo_tag' => true,
        'no_unneeded_control_parentheses' => true,
        'no_unused_imports' => true,
        'no_whitespace_in_blank_line' => true,
        'nullable_type_declaration_for_default_null_value' => [
            'use_nullable_type_declaration' => false,
        ],
        'ordered_imports' => true,
    ])
    ->setFinder($finder);
